name: ci

on:
  push:
    branches:
      - master
      - development
  pull_request:
    branches:
      - master
      - development

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
    strategy:
      fail-fast: false
      matrix:
        jdk:
          - '8'
          - '11'
    env:
      ARTIFACTORY_USER: ${{ secrets.ARTIFACTORY_USER }}
      ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONARQUBE_TOKEN }}
      MAVEN_OPTS: "-XX:InitialHeapSize=2G -XX:MaxHeapSize=2G -XX:+PrintCommandLineFlags -XX:ThreadStackSize=65536 -XX:-TieredCompilation -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn"
      muteProps: "true"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.jdk }}

      - name: Setup Maven
        run: cp .ci.settings.xml ${HOME}/.m2/settings.xml

      - name: Test
        if: matrix.jdk == '8'
        run: |
          mvn --batch-mode clean install

      - name: SonarQube Scan (Push)
        if: matrix.jdk == '11' && github.event_name == 'push'
        run: |
          unset CI
          mvn --batch-mode clean verify sonar:sonar

      - name: SonarQube Scan (Pull Request)
        if: matrix.jdk == '11' && github.event_name == 'pull_request'
        run: |
          unset CI
          mvn --batch-mode clean verify sonar:sonar \
            -Dsonar.pullrequest.key=${{ github.event.pull_request.number }} \
            -Dsonar.pullrequest.branch=${{ github.event.pull_request.head.ref }} \
            -Dsonar.pullrequest.base=${{ github.event.pull_request.base.ref }}

      - name: Deploy
        if: matrix.jdk == '8' && github.event_name == 'push' && github.ref != 'refs/heads/main'
        run: mvn --batch-mode deploy -P test
